In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from util import sidewalk_qualifer
from extract_direct_indicators import *

In [3]:
dir_ind = extract_direct_indicators(sidewalk_qualifer, 'sea')
dir_ind

,id,nversions,nusers,nedits,ntags,dir_confirmations,nrollbacks,visibility,type
0,7978359,7,6,9,0,1,0,D,W
1,7978480,8,5,10,9,3,0,B,W
2,9118414,10,8,17,11,5,0,B,W
3,13365835,11,7,6,4,3,0,B,W
4,13525213,6,6,6,3,1,0,B,W
...,...,...,...,...,...,...,...,...,...
18735,1084374291,1,1,0,3,0,0,B,W
18736,1084465428,1,1,0,2,0,0,B,W
18737,1084465431,1,1,0,2,0,0,B,W
18738,1084465432,1,1,0,2,0,0,B,W
18739,1084514007,1,1,0,2,0,0,B,W

In [4]:
stats = get_stats(dir_ind)
stats

      nversions    nusers    nedits    ntags  dir_confirmations  nrollbacks
mean   1.720277  1.453949  0.504055  2.71286           0.222839    0.005123
25%    1.000000  1.000000  0.000000  2.00000           0.000000    0.000000
50%    1.000000  1.000000  0.000000  2.00000           0.000000    0.000000

In [ ]:
# To measure trustworthiness of sidewalk data: dir/indir indicators of the *road* that is associated with that sidewalk!

# Two steps:

# Check if sidewalk-data availabile or not. Four cases:
    # i) Partial availability (Case 1): sidewalk geometry available but tag is not available on the associated road
    # ii) Partial availability (Case 2): sidewalk geometry not availble, but sidewalk tag (yes/ left/ right/ both) is on the road
    # iii) Full availibility: Both sidewalk geometry and sidewalk tag on the associated road are available. Or, if sidewalk is not there then tag is (no/none)
    # iv) Unavailable: Neither geometry nor the tag of associated road is available

# if available, check if the associated road data is trustworthy or not

# Indirect and time indicator measurable
# But direct indicator not so as sidewalk data only started to increase in recent times and barely have 2 tags only

# In future: surface material, widths, etc features should be integral part of sidewalks