In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from extract_indirect_indicators import *

In [3]:
indir_ind = extract_indirect_indicators('rec')
indir_ind.head(10)

,id,road_cnt,road_uc,road_le_time,building_cnt,building_uc,building_le_time,poi_cnt,poi_uc,poi_le_time,sidewalk_cnt,sidewalk_uc,sidewalk_le_time
0,700978537,149,41,5,996,11,5,45,8,5,8,3,9
1,793297232,149,41,5,996,11,5,45,8,5,8,3,9
2,793297233,149,41,5,996,11,5,45,8,5,8,3,9
3,793297234,149,41,5,996,11,5,45,8,5,8,3,9
4,793297235,149,41,5,996,11,5,45,8,5,8,3,9
5,793297236,149,41,5,996,11,5,45,8,5,8,3,9
6,793297237,149,41,5,996,11,5,45,8,5,8,3,9
7,793297238,149,41,5,996,11,5,45,8,5,8,3,9
8,706191510,61,28,4,25,2,28,2,4,28,1,1,37
9,706191510,163,31,1,331,3,23,15,6,28,1,1,37

In [4]:
stats = get_stats_indir(indir_ind)
stats

,road_cnt,road_uc,road_le_time,building_cnt,building_uc,building_le_time,poi_cnt,poi_uc,poi_le_time,sidewalk_cnt,sidewalk_uc,sidewalk_le_time
mean,187.790698,48.518272,3.946844,632.285714,11.857143,9.421927,73.674419,14.372093,8.528239,12.621262,2.295681,21.335548
25%,95.000000,37.000000,3.000000,70.000000,5.000000,3.000000,17.000000,5.000000,3.000000,3.000000,1.000000,8.000000
50%,182.000000,43.000000,3.000000,266.000000,9.000000,7.000000,37.000000,11.000000,5.000000,6.000000,2.000000,23.000000