In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from extract_time_indicator import *

In [4]:
time_ind = extract_time_indicator(sidewalk_qualifer, 'rec')
time_ind

             id                        ts  last_edit(months)
0     379240246 2020-09-15 05:46:49+00:00                 23
1     379240248 2021-07-20 23:16:22+00:00                 13
2     482849683 2019-08-01 17:15:19+00:00                 36
3     483240568 2020-02-11 01:24:12+00:00                 30
4     491692399 2017-05-05 23:54:22+00:00                 63
..          ...                       ...                ...
269  1035042936 2022-02-25 11:15:29+00:00                  6
270  1035042938 2022-02-25 11:15:29+00:00                  6
271  1035042941 2022-02-25 11:15:29+00:00                  6
272  1035042942 2022-02-25 11:15:29+00:00                  6
273  1037772574 2022-03-06 16:46:07+00:00                  5

[274 rows x 3 columns]

In [5]:
stats = get_stats(time_ind)
stats

      last_edit(months)
mean          32.226277
50%           36.500000